.mainheading{
    text-align: center;
    background-color: 	#FFFFFF;
    width: auto;
    font-family: sans-serif
    
    
    
}




h1.line>span {
    padding: 0 25px;
    background-color: #fff;
    position: relative;
}

/*Line Style*/
.line:before {
    content: "";
    position: absolute;
    border-bottom: 2px solid purple;
    width: 100%;
    left: 0;
    top: 42px;
}








ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: 	#1E90FF;
}


li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align:center;
    padding: 10px 59px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
    .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    margin: 24px;
    margin-top: 5%;
    
}


.left {
    position: absolute;
    right: 0px;
    width:1300px;
    margin-top: 00px;

}

.centre {
    position: absolute;
right: 0px;
width: 800px;
    margin-top: 00px;


}


.PlanePosition {
    position: absolute;
right: 0px;
width: 1300px;
margin-top: 90px;

}

.Cloudalign {
    position: absolute;
right: 0px;
width: 900px;
margin-top: 59px;

}

.sportimage {
    position: absolute;
    right: 0px;
    width: 100px;
    margin: 230px;
    margin-top: 140px;

}


h1 {
    text-align: center;
}


