#section1{
    background:url("https://wallpaperscraft.com/image/canal_sunrise_amsterdam_netherlands_59165_1920x1080.jpg");
}

#section2{
    background:url("http://getwallpapers.com/wallpaper/full/d/f/f/171443.jpg");
}

#section3{
    background:url("https://hdwallsource.com/img/2014/6/awesome-ireland-wallpaper-21912-22465-hd-wallpapers.jpg");
}

.section{
    text-align: center;
    color: white;
}